* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.menu-container {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #4B125F;
    border: 4px solid #771d4b;
    height: 100vh;
    width: 100vw;
}

.menusub-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.menu-header {
    background-color: #E4D2DB;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-header h1 {
    font-size: 1.5em;
    padding-left: 6%;
}

.menu-header span {
    cursor: pointer;
    font-size: 1em;
    margin-left: auto;
}

.sidebar {
    background-color: #E4D2DB;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid #771d4b;
    border-right: 3px solid #771d4b;
    height: 100%;
    flex-shrink: 0;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.profile-icon {
    font-size: 150px;
    color: #4B125F;
    margin-bottom: 10px;
}

.bar-menu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background: #771d4b;
    color: rgb(252, 250, 250);
    align-items: center;
    padding-left: 3%;
    border-top: 8px solid #771d4b;
    border-bottom: 8px solid #771d4b;
    width: 100%;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
}

.p1 {
    align-items: center;
    margin-top: 2px;
    color: #ffffff;
    cursor: pointer;
}

.main-content {
    margin: 0;
    background-color: white;
    flex-grow: 1;
    padding: 0px;
    border-top: 3px solid #771d4b;
    overflow-y: auto;
    width: calc(100% - 200px);
}

h2 {
    margin: 0px;
    padding-left: 3%;
    margin-top: 20px;
    color: #4B125F;
}

h3 {
    background: #DAA6B7;
    margin-left: 0;
    padding-left: 3%;
    border-top: 2px solid #771d4b;
    border-bottom: 2px solid #771d4b;
    color: #4B125F;
}

h4 {
    text-align: center;
    margin-top: 20px;
}

.plantillas-section,
.trazabilidad-section{
    margin-top: 20px;
}


.button-container-plantillas {
    display: flex;
    height: auto;
    justify-content: space-between;
    gap: 30px;
    margin: 20px;
}

.button-container-plantillas > div {
    flex: 1; 
    text-align: center; 
}

.button-container-plantillas > div > button {
    width: 100%; 
    height: 80%;
}


.boton-text {
    margin-top: 8px;
    font-size: 14px;
    color: #4B125F; 
}



.educcion-button, .ilacion-button, .especificacion-button, .artefactos-button,
 .actores-button, .req-button, .expertos-button, .fuentes-button, .metricas-button, .pruebas-button{
    background-color: #B4508A;
    color: white;
    border: none;
    padding: 15px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    flex-grow: 1;
    text-align: center;
    font-size: 1.3em;
}

